html[data-theme='bluewave-light'] {
  --background: rgb(250, 250, 250);
  --background-70: rgba(250, 250, 250, 0.7);
  --background-gradient-end: var(--background);
  --background-secondary: oklch(1 0 0);
  --foreground: rgb(10, 10, 10);
  --app-bar: oklch(1 0 0);
  --footer: rgb(250, 250, 250);
  --footer-secondary: #efe9e1;
  --card: oklch(1 0 0);
  --card-foreground: var(--foreground);
  --service-card-border: transparent;
  --calendar-background: transparent;
  --calendar-border: transparent;
  --popover: oklch(1 0 0);
  --popover-foreground: var(--foreground);
  --toast-background: oklch(1 0 0);
  --primary: #00548d;
  --primary-foreground: rgb(250, 250, 250);
  --primary-hover: #a1075f;
  --primary-hover-foreground: var(--primary-foreground);
  --primary-outline-hover: transparent;
  --primary-outline-hover-foreground: var(--primary-hover);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --success: oklch(72.3% 0.219 149.579);
  --create: oklch(72.3% 0.219 149.579);
  --create-foreground: #0a0a0a;
  --destructive: oklch(0.5770 0.2450 27.3250);
  --destructive-foreground: oklch(1 0 0);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --border: oklch(0.92 0.004 286.32);
  --banner-overlay: transparent;
  --overlay: oklch(55.6% 0 0);
  --overlay-foreground: oklch(0.928 0.006 264.531);
  --disabled-overlay: oklch(92.2% 0 0);
  --disabled-overlay-foreground: oklch(0.145 0 0);
  --input-outline: oklch(70.7% 0.022 261.325);
  --input-background: oklch(1 0 0);
  --select-hover: oklch(92.2% 0 0);
  --qnr-tag-chart-background: oklch(0.9536 0.0091 78.28);
  --qnr-tag-chart-tag-text: oklch(29.1% 0.149 302.717);
  --qnr-tag-chart-line: oklch(28.2% 0.091 267.935);
  --qnr-tag-chart-target: oklch(0.689 0.1782 49.2);
  --qnr-tag-chart-marker: oklch(0.735 0.171 60.796);
  --tooltip: oklch(43.9% 0 0);
  --tooltip-foreground: oklch(0.985 0 0);
  --service-card-border-width: 0;
  --service-card-radius: var(--radius-lg);
  --card-radius: var(--radius-lg);
  --input-radius: var(--radius-md);
  --modal-radius: var(--radius-xl);
  --button-radius: calc(infinity * 1px);
  --button-border-width: 1px;
  --text-xs: 0.875rem;
  --text-xs--line-height: calc(var(--text-xs) * 1.5);
  --text-sm: 1rem;
  --text-base: 1.125rem;
  --text-lg: 1.25rem;
  --text-xl: 1.375rem;
  --f-weight-heading: 700;
}
